# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/

# backend files
# Add these lines
node_modules/
.env
backend/node_modules/
backend/.env